@use "../abstracts" as *;

%btn {
  //   flex: 2;
  background-color: $orange;
  //   width: 300px;
  cursor: pointer;
  height: auto;
  color: $white;
}

.add-to-cart {
  flex: 1 1 70%;
  margin-left: 1em;
  .add-to-cart__btn {
    @extend %btn;
    @include flexbox-config(
      $flex-direction: row,
      $justify-content: space-around
    );
    border: none;
    border-radius: 5px;
    max-width: 100%;
    width: 100%;
    padding: 0.4em 0.2em;
    transition: all 0.5s ease-in-out;
    &:hover {
      background-color: scale-color($orange, $lightness: +30%);
    }
    .add-to-cart__cart-icon {
      filter: brightness(0) invert(1);
    }
  }
}

.checkout {
  max-width: 100%;
  width: 100%;
  margin-top: 2rem;
  padding: 0 1.6em;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;

  .checkout__btn {
    @extend %btn;
    @include flexbox-config(
      $flex-direction: row,
      $justify-content: space-around
    );
    border: none;
    border-radius: 5px;
    max-width: 100%;
    width: 100%;
    padding: 0.4em 0.2em;
    transition: all 0.5s ease-in-out;
    &:hover {
      background-color: scale-color($orange, $lightness: +30%);
    }
  }
}
