@use "../abstracts/" as a;

// for lightbox modal nav btns

.slider__gallery-item-prev,
.slider__gallery-item-next {
  top: 40%;
  position: absolute;
  cursor: pointer;
  z-index: 2000;
  border-radius: 50%;
  padding: 1em;
  background: white;
  .slider__gallery-item-img {
    &:hover {
      filter: brightness(0) saturate(100%) invert(66%) sepia(29%)
        saturate(6944%) hue-rotate(347deg) brightness(130%) contrast(101%);
    }
  }
}

.slider__gallery-item-prev {
  left: -4%;
}

.slider__gallery-item-next {
  right: -4%;
}

.mobile-slider__item-prev,
.mobile-slider__item-next {
  top: 45%;
  position: absolute;
  cursor: pointer;
  z-index: 1300;
  border-radius: 50%;
  padding: 0.7em;
  background: a.$white;
  @include a.lg-tablets {
    display: none;
  }
}

.mobile-slider__item-prev {
  left: 3%;
}
.mobile-slider__item-next {
  right: 3%;
}
