/* Error: Undefined variable.
 *    ,
 * 14 |       font-size: $desktop-sm-heading-font;
 *    |                  ^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   layouts/_product-description.scss 14:18  @content
 *   abstracts/_mixins.scss 63:5              lg-tablets()
 *   layouts/_product-description.scss 13:5   @forward
 *   layouts/_index.scss 1:1                  @use
 *   style.scss 4:1                           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 14 \2502        font-size: $desktop-sm-heading-font;\a    \2502                   ^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   layouts/_product-description.scss 14:18  @content\a   abstracts/_mixins.scss 63:5              lg-tablets()\a   layouts/_product-description.scss 13:5   @forward\a   layouts/_index.scss 1:1                  @use\a   style.scss 4:1                           root stylesheet";
}
